[submodule "nginx-push-stream-module"]
	path = nginx-push-stream-module
	url = https://github.com/wandenberg/nginx-push-stream-module.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/nginx/nginx.git
